body{
    text-align: center;
    background-image: url(../images/morocco-blue.png);
}

#questions {
    background-color: white;
}

p {
    height: 100px;
    overflow: scroll;
}

.carousel-caption {
    background-color: ghostwhite;
    color: black;
    opacity: 0.7;
}